@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')

*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #212529;
    color: #fff;
    font-family: "Work Sans", sans-serif;
}
.custom_container_fluid {
    max-width: 1920px;
    margin: 0 auto;
}

.navbar-toggler.opened .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M2 2l12 12M2 14L14 2' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
}


.hero {
    background: url('../images/hero_img.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
  }

  .hero::after {
    content: '';
    display: block;
    background: linear-gradient(360deg,rgba(42, 123, 155, 1) 0%, rgba(33, 37, 41, 1) 0%, rgba(33, 37, 41, 00) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;

  }

  .custom_nav_main {
    padding-top: 1rem;
  }

  .custom_nav_main .container {
    border-top: 2px solid #fff;
    padding-top: 1rem;
  }
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "EB Garamond", serif;
  }

  .hero p {
    width: 45%;
    margin: 0 auto;
  }

  .hero .hero_content {
    margin-top: 5rem;
    text-align: center;
  }

  .hero img {
    margin-top: 2rem;
  }

  .nota_menu .navbar-nav {
    width: 100%;
    justify-content: space-around;
  }

  .nota_menu ul li a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
  }

  .nota_menu ul .custom-nav_btn {
    border: 2px solid #fff;
  }
  .gallery {
    padding-left: 0;
    padding-right: 0;
  }
  .gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .about_description {
    border: 1px solid #fff;
  }

  .about_description .text-center {
    width: 60%;
    margin: 0 auto;
  }
  .section-title {
    margin: 60px 0 30px;
    text-align: center;
    font-size: 2rem;
    font-family: "EB Garamond", serif;
  }
  .card-bg {
    background-color: #1c1a1f;
    border: none;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: background 0.3s ease;
  }

  .object-fit-cover {
    object-fit: cover;
  }

  .overlay:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .custom_card_ui .card_description {
    margin-top: 36rem;
    position: relative;
    z-index: 9;
  }
  .custom_card_ui .card_description h5 {
    z-index: 9;
    position: relative;
  }

  .custom_card_ui .card_description p {
    z-index: 9;
    position: relative;
  }

  .custom_card_ui .card_description a {
    z-index: 9;
    position: relative;
  }
  .custom_card_ui .card_description::after {
    content: '';
    height: 200px;
    background: linear-gradient(0.57deg, #141218 22.65%, rgba(20, 18, 24, 0) 110.04%);
    position: absolute;
    bottom: -51px;
    width: calc(100% + 32px);
    left: -16px;
    z-index: 1;
  }
  .card_ui_group .custom_card_ui {
    border: 1px solid #ffffff !important;
    border-radius: none !important;
  }

  .special_events .text-center a {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    padding: 8px 1rem;
    text-decoration: none;
  }
  .special_events .text-center .lead {
    margin-bottom: 2rem;
  }
  .special_events {
    padding-bottom: 3rem;
  }
  .card_ui_group {
    padding: 0;
  }

  .happy_hours .text-center p {
    font-size: 1rem !important;
    color: #fff;
    font-weight: 400 !important;
    margin-bottom: 1rem !important;
  }

  .happy_hours .text-center p:nth-child(4) {
    margin-bottom: 2rem !important;
  }